 .LogisticManagementHeaderContainer {
     background-color: white;
     height: 10vw;
     width: 90%;
     font-size: 2.2vw;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     margin: 2vw auto auto auto;
     font-weight: 600;
     padding: 2vw 3vw 0px 3vw;
 }

 .LogisticManagementHeaderText {
     margin: 0px 4vw;
 }

 .LogisticManagementHeaderBtnContainer {
     height: 5vw;
     display: flex;
     justify-content: space-between;
     margin: .7vw 0vw 0vw 0vw;
     border-bottom: .3vw solid #2E58A6;
     width: 100%;
  }

 .LogisticManagementHeaderBtn {
     height: 100%;
     width: 15vw;
 }

 .LogisticManagementHeaderBtns {
     height: 100%;
     margin: 0vw;
     width: 100%;
     border: .16vw solid #2E58A6 !important;
     border-bottom: 0vw solid #2E58A6 !important;
     display: flex;
     justify-content: center;
     cursor: pointer;
     align-items: center;
     background-color: #2E58A6;
     font-size: 1.2vw;
     font-weight: bold;
     color: white;
 }

 .LogisticManagementHeaderSelectedBtns {
     cursor: pointer;
     background-color: white;
     color: black;
 }

 .LogisticManagementHeaderSelectedBtns:hover {
     color: #2E58A6;
 }

 .LogisticManagementCartHeader {
     background-color: white;
     width: 90%;
     display: flex;
     justify-content: space-between;
     margin: auto;
     padding: 1vw 3vw 0px 1vw;
 }

 .LogisticManagementCartHeaderLeftBtn {
     display: flex;
     margin: 1vw 0px;
 }

 .LogisticManagementCartHeaderRightBtn {
     display: flex;
 }

 .LogisticManagementCartHeaderLeftBtns {
     background-color: transparent;
     font-size: 1.2vw;
     border: 0px solid black !important;
     border-right: .1vw solid #707070 !important;
     padding: 0px 2vw;
 }

 .LogisticManagementCartHeaderLeftLastBtn {
     background-color: transparent;
     font-size: 1.2vw;
     border: 0px solid black !important;
     padding: 0px 2vw;
 }

 .logisticManagementCartSectionHeader {
     background-color: white;
     display: flex;
     width: 90%;
     margin: auto;
     padding: 0vw 5vw 5vw 5vw;
     justify-content: center;
     align-items: center;
     border-bottom: .15vw solid #707070;
 }

 .goodsContainer {
     flex: 1;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
 }

 .goodsBtn {
     height: 2.5vw;
     background-color: #DBDBDB;
     width: 80%;
     font-size: 1.2vw;
     cursor: pointer;
     border: 0px solid black;
 }

 .goodsBtn:hover {
     color: #2E58A6;
     border: 0px solid black;
 }

 .textAlignCenter {
     text-align: center;
 }